@import "./variables";

%title {
    font-weight: 800;
    font-size: 35px;
    line-height: 48px;
    color: $title;
}

%orangeButton {
    display: block;
    background: $orange;
    border-radius: 25px;
    color: #ffffff;
    padding: 17px 10px;
    transition: all 0.3s ease 0s;
    &[disabled] {
        background-color: $orangeDisabled;
        pointer-events: none;
    }
    &:hover {
        background-color: $orangeHover;
    }
}
