@import "../../styles/variables.scss";

.product-slider {
    &__slide._slide-preloader {
        height: 408px;
        border-radius: 20px;
        overflow: hidden;
        .skeleton {
            &__body {
                height: 100%;
                width: calc(100% + 2px);
                display: block;
                border: 1px solid red;
            }
        }
    }
    &__slide {
        height: auto;
        display: flex;
        max-height: 446px;
    }
    &._disabled {
        pointer-events: none;
    }
    padding: 30px 7px;
}

@media (max-width: $mobileSmall) {
    .product-slider__slide {
        justify-content: center;
    }
}
