@import "../../../styles/variables.scss";
@import "../../../styles/templates.scss";

.profile {
    margin-bottom: 120px;
    // .profile__title
    &__title {
    }
    // .profile__body
    &__body {
        display: flex;
        column-gap: 25px;
        margin-top: 25px;
    }
    // .profile__switch
    &__switch {
        flex: 0 0 255px;
        max-height: 180px;
    }
    // .profile__content
    &__content {
        flex: 0 1 100%;
    }
    // .profile__logout
    &__logout {
        margin-left: 20px;
        max-width: 25px;
        transform: translate(0, 2px);
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            * {
                fill: red;
                stroke: red;
            }
        }
    }
}

.switch-profile {
    // .switch-profile__title
    &__title {
        cursor: pointer;
        color: $textSecondary;
        font-size: 20px;
        transition: all 0.3s ease 0s;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &:not(&._active):hover {
            color: $orangeHover;
        }
        &._active {
            @extend %smallTitle;
        }
    }
}

@media (max-width: $tablet) {
    .profile__body {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .profile__body-item {
        flex: 0 1 100%;
    }
}
