@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.product {
    background-color: #ffffff;
    box-shadow: -3px 11px 6px rgba(154, 170, 207, 0.305);
    border-radius: 25px;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;

    // .product__item
    &__item {
        padding: 25px 0;
        @include adaptiv-value("padding-left", 20, 15, 3);
        @include adaptiv-value("padding-right", 20, 15, 3);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    // .product__img
    &__img {
        flex: 0 1 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 15px;
            max-width: 100%;
            // width: 100%;
            max-height: 200px;
            object-fit: cover;
        }
    }
    // .product__body
    &__body {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        text-align: center;
    }
    // .product__title
    &__title {
        color: $title;
        font-weight: 600;
    }
    // .product__info
    &__info {
        margin-top: 5px;
        color: $textSecondary;
        font-size: 12px;
        line-height: 16px;
    }
    // .product__composition
    &__composition {
        margin-top: 5px;
        text-align: center;
        flex: 1 1 auto;
    }

    .bottom-product {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        column-gap: 15px;
        // .bottom-product__price
        &__price {
            font-weight: 600;
            line-height: 27px;
            white-space: nowrap;
            color: #393939;
            @include adaptiv-font(20, 16, 1);
        }
        // .bottom-product__add
        &__add {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: $red;
            background-color: #ffffff;
            padding: 10px;
            border: 2px solid #ff5358;
            border-radius: 25px;
            transition: all 0.3s ease 0s;
            flex: 0 1 125px;
            &:hover {
                background-color: $redHover;
                color: #ffffff;
            }
            &:disabled {
                cursor: auto;
                color: #ffffff;
                border: 2px solid #ff535900;
                background-color: $redDisabled;
            }
        }
    }
}

@media (max-width: $mobileSmall) {
    .product__item {
        padding: 25px;
    }
    .product__img {
        flex: 0 0 120px;
        // padding: 0 30px 20px 30px;
    }

    // .product__info,
    // .product__composition {
    //     display: none;
    // }
}
